@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Lexend", sans-serif;
}
.containerBox {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  width: 100%;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input {
  -moz-appearance: textfield;
}

.btn {
  border-radius: 8px 0px;
  box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6);
  @apply bg-[#1fdb84];
  @apply font-bold;
  @apply text-white;
  @apply no-underline;
  @apply leading-8;

  &:hover {
    @apply shadow-none;
    @apply transform-none;
    @apply outline;
    @apply text-[#1fdb84];
    @apply transition-all duration-100 ease-out;
    @apply bg-transparent;
  }
}
.options {
  background-color: rgb(203, 197, 197);
  width: 340px;
  text-align: center;
}
.toggle-input:checked + .toggle-btn {
  left: 20px;
  transform: translateX(25px);
  background-color: #fff;
}
.options {
  width: 80%;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  margin-top: 50px;
  @apply shadow-xl;
}
.exclude-from-close {
  pointer-events: auto !important;
}
.width-80 {
  width: 80%;
}
.css-1ef1j3j-control {
  width: 81% !important;
}
.logo:hover > span {
  color: #de3163;
}
.btn-primary-sm {
  @apply block rounded-[4px] bg-theme px-7 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-lightTheme focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-theme;
}
.btn-secondary {
  @apply flex w-full justify-center rounded-md bg-theme px-3 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-lightTheme focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-theme;
}
.user-btn {
  @apply border border-primaryColor rounded-lg pb-2 pt-2 px-5 text-primaryColor hover:bg-primaryColor hover:text-white transition-all delay-75;
}
.side-input {
  @apply w-[80%] border rounded-lg px-4 outline-none mb-3 py-3 shadow-md;
}
.navbar-fixed {
  position: fixed;
  /* top: 0; */
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.slick-dots {
  /* top: 350px; */
  bottom: -130px !important;
}
.slick-dots .slick-active button::before {
  color: #de3163 !important;
}
.slick-dots button::before {
  font-size: 12px !important;
  /* color: #fff !important; */
}
.location-input svg {
  width: 20px;
  height: 20px;
  color: rgb(105, 104, 104);
}
.close-dropdown {
  display: none;
}
.input-box::placeholder {
  color: #767676;
}
.input-box-place::placeholder {
  font-size: 15px;
}
/* tailwind.css */

.file-input-label {
  background: rgba(142, 68, 173, 0.12);
  padding: 8px;
  display: inline-block;
  cursor: pointer;
  width: 400px;
  height: 170px;
  border: 2px dotted #000;
  border-radius: 8px;
}
.image-input {
  background: rgba(142, 68, 173, 0.12);
}
.add-social-media {
  background: rgba(142, 68, 173, 0.12);
  padding: 8px;
  /* display: inline-block; */
  cursor: pointer;
  width: 370px;
  height: 64px;
  border: 2px dotted #3e3d3d;
  border-radius: 8px;
}

.close-mark {
  position: relative;
  right: -850px;
}
.file-input {
  opacity: 0;
  position: absolute;
}
/* .social-links > div #business-media-link-error,
.social-links + span {
  bottom: 100px;
} */
input[type="radio"],
input[type="checkbox"] {
  accent-color: #7d309e;
}
input[type="radio"]:checked + label {
  font-weight: bold;
}
input[type="checkbox"]:checked + label {
  font-weight: 500;
}
/* create-profile-section */
.business-profile {
  /* background-image: url("https://i.ibb.co/6Df7NfD/create-profile.png"); */
  background-image: url("./Assets/create-profile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.option {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.5s ease-in-out;
}
.option::-webkit-scrollbar,
.dropdown-options::-webkit-scrollbar,
.second-box-container::-webkit-scrollbar,
.third-box-container::-webkit-scrollbar,
.business-box-container::-webkit-scrollbar,
.kind-box-container::-webkit-scrollbar {
  display: none;
}
.option.active {
  max-height: 420px;
}
.disabled-dropdown {
  pointer-events: none;
}

.social-links:not(:first-child):not(:nth-child(2)) {
  margin-top: 0px;
}

/* My profile container */
.my-profile-hero {
  background-image: url("./Assets/Myprofile-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CSS */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #8e44ad;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #8e44ad;
}

.custom-checkbox::after {
  /* Styling for the checkmark */
  content: "";
  position: absolute;
  top: 33%;
  left: 25%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 4px; /* Adjust size of the checkmark */
  height: 8px; /* Adjust size of the checkmark */
  border: solid white; /* Change color of the checkmark */
  border-width: 0 2px 2px 0; /* Create checkmark shape with reduced width */
  transform-origin: bottom;
  opacity: 0;
}

.custom-checkbox:checked::after {
  opacity: 1;
}

/* User-my-profile */
.profile-sec:hover > svg path {
  fill: #8e44ad;
}
.active-icon {
  fill: #8e44ad;
}
.hero-section {
  background-image: url("../public/images/Landing-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Loading state for sync button */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking-dots::before,
.blinking-dots::after {
  content: ".";
  animation: blink 1s infinite;
}

.blinking-dots::before {
  animation-delay: 0s;
}

.blinking-dots::after {
  animation-delay: 0.33s;
}

.blinking-dots::last {
  content: ".";
  animation-delay: 0.67s;
}
/* Check box */
.check {
  width: 100% !important;
  position: absolute;
}
.clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Add product section */
.add-product {
  background-image: url("./Assets/add-product.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
